# Binary to test ############
a.out
test
# Backup/temporary files ####
#*#
*.*~
# Compiled Object files #####
*.slo
*.lo
*.o
# Compiled Dynamic library ##
*.dylib
# Compiled Static library ###
*.lai
*.la
